# Build-time dependencies
*.d

# Object files
*.o

# Executable
*.exe

# ImGui Config
*.ini

# Build files
build/*
.ccls*
*.cpython*
*.egg-info
compile_commands.json

# Executable on Linux
Platformer*
