[submodule "stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "galogen"]
	path = submodules/galogen
	url = https://github.com/google/galogen.git
[submodule "rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "parallel_hashmap"]
	path = submodules/parallel_hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "submodules/visit_struct"]
	path = submodules/visit_struct
	url = https://github.com/garbageslam/visit_struct
