[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "galogen"]
	path = galogen
	url = https://github.com/google/galogen.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "parallel_hashmap"]
	path = parallel_hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
