[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "galogen"]
	path = galogen
	url = git@github.com:google/galogen.git
[submodule "sajson"]
	path = sajson
	url = git@github.com:chadaustin/sajson.git
